body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background: #000000;
    color:white;
    padding:20px;
    text-align:center;
}

.container{
    display:grid;
    grid-template-columns:300px 1fr 300px;
    gap:20px;
    padding:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input, textarea, button{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    background: #000000;
    color:white;
    cursor:pointer;
}

button:hover{
    background: #000000;
}

.calendar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

#calendar{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:5px;
}

.day{
    background:white;
    padding:10px;
    min-height:80px;
    border-radius:6px;
    position:relative;
}

.day-number{
    font-size:14px;
    font-weight:bold;
}

.event{
    background:#4a6cf7;
    color:white;
    font-size:11px;
    padding:3px;
    margin-top:3px;
    border-radius:4px;
}

.meeting-list{
    background:white;
    padding:10px;
    border-radius:6px;
}

.meeting-item{
    border-bottom:1px solid #ddd;
    padding:10px;
}

.delete-btn{
    background:red;
    margin-top:5px;
}